#fullScreen {
  position: absolute;
  bottom: 160px;
  right: 25px;
  width: 27px;
  height: 27px;
  z-index: 99999;
  padding: 1px;
  align-items: center;
  background-color: #0ab6ff;
  color: white;
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
}
.icon {
  z-index: 9999999;
  width: 27px;
  height: 27px;
}
