#header {
 color: white;
 text-align: center;
 background-color: #7abff8;
 margin-top: 5px;
 width: 100%;
 color: blue;
}
.card {
 background-color: #beddf7;
 margin: 0;
 margin-top: 5px;
 text-align: center;
 width: 100%;
 padding: 5px;
 align-items: center;
}
.typo {
 color: blue;
 text-align: center;
 width: 100%;
}
