#fullScreen {
 position: absolute;
 bottom: 160px;
 right: 25px;
 width: 23px;
 height: 23px;
 z-index: 99999;
 padding: 1px;
 align-items: center;
 background-color: #005792;
 color: white;
 border: 1px solid #0ab6ff;
 border-radius: 5px;
 cursor: pointer;
}
.icon {
 z-index: 9999999;
 margin: 0;
 padding: 0;
 width: 25px;
 height: 25px;
}
