.leaflet-bar a {
 color: white;
 background-color: #005792;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
 color: #005792;
 border-radius: 0px;
}
.leaflet-control-zoom {
 right: 15px;
 bottom: 55px;
}

.leaflet-bottom {
 bottom: 0px;
}
.leaflet-right {
 right: 0px;
}

.leaflet-touch .leaflet-bar a {
 width: 25px;
 height: 30px;
 line-height: 30px;
}
.leaflet-touch .leaflet-bar a:first-child {
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
}
.leaflet-touch .leaflet-bar a:last-child {
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}
.leaflet-bar {
 border: 3px solid black;
 border-radius: 5px;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
 border: 1px solid #005792;
}

.leaflet-control-attribution {
 display: none;
}
.leaflet-control-scale {
 position: absolute;
 bottom: 5px;
 right: 20px;
 background-color: #005792;
}
