#baseDiv {
 position: absolute;
 top: 30px;
 right: 40px;
 width: 80px;
 height: 80px;
 z-index: 999;
 border-radius: 10%;
}

#satelliteStyle {
 width: 80px;
 height: 80px;
 z-index: 99999;
 vertical-align: middle;
 border: 3px solid #005792;
 border-radius: 10%;
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToDY7o1MfLbmbSN5hQr6ymzs1oUc5waxr4KA&s);
 background-size: cover;
 background-position: center;
 color: white;
}
#openStreetStyle {
 width: 80px;
 height: 80px;
 z-index: 1;
 vertical-align: middle;
 border: 3px solid #005792;
 border-radius: 10%;
 background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bb/Open_Street_Map.png);
 background-size: cover;
 background-position: center;
 color: white;
}
.center {
 background-color: rgba(0, 0, 0, 0.4);
 width: 80px;
 color: #a1e2fd;
 vertical-align: middle;
 padding-top: 10px;
 height: 70px;
 border-radius: 3px;
}
.LayersIcon {
 position: absolute;
 top: 25px;
 left: 30px;
 border-radius: "10%";
}
#hoverBaseDiv {
 width: 80px;
 height: 500px;
 position: absolute;
 top: 65px;
 right: 40px;
 z-index: 998;
}
#hoverVisibleDiv {
 position: absolute;
 right: 0;
 bottom: 0;
 padding-top: 2px;
 width: 75px;
 height: 445px;
 background-color: #005792;
 border-radius: 10px;
 overflow: hidden;
}
.hoverItems {
 width: 63px;
 height: 80px;
 align-items: center;
 margin-top: 4px;
 margin-left: 6px;
 margin-right: 6px;
 color: white;
 border-bottom: 2px solid white;
 display: inline-block;
}

.hoverItemImages {
 width: 50px;
 height: 50px;
 margin-left: 5px;
 margin-top: 2px;
 border-radius: 10px;
}
.hoverItems:hover {
 border-bottom: 4px solid white;
}
#hoverItemText {
 color: white;
 text-align: center;
 margin-top: 0;
}
#moreDiv {
 position: absolute;
 width: 300px;
 height: 500px;
 top: 30px;
 right: 35px;
 z-index: 999;
 color: white;
 background-color: #005792;
 border-radius: 10px;
}
#closeMoreDiv {
 width: 20px;
 height: 20px;
 position: absolute;
 top: 8px;
 right: 10px;
 padding-bottom: 5px;
 color: white;
 border: 2px solid white;
 border-radius: 5px;
 font-size: large;
 text-align: center;
}
#openStreetMoreStyle {
 width: 80px;
 height: 80px;
 z-index: 1;
 border-radius: 10%;
 margin: 5px 0px 0px 0px;
 background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bb/Open_Street_Map.png);
 background-size: cover;
 background-position: center;
 /* color: white; */
 display: inline-block;
}
#satelliteMoreStyle {
 width: 80px;
 height: 80px;
 margin: 5px 2px 0px 0px;

 border-radius: 10%;
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToDY7o1MfLbmbSN5hQr6ymzs1oUc5waxr4KA&s);
 background-size: cover;
 background-position: center;
 /* color: white; */
 display: inline-block;
}
.baseMapSubtitle {
 display: inline-block;
 margin: 0;
 border: none;

 /* color: #0ab6ff; */
}

.moretext {
 color: white;
 margin: 10px 0px 10px 20px;
}
.active {
 text-align: center;
 width: 95px;
 height: 115px;
 margin-left: 35px;
 border-radius: 10px;
 border: 3px solid white;
 /* color: #0a9dff; */
 display: inline-block;
}
.inactive {
 text-align: center;
 width: 95px;
 height: 110px;
 margin-left: 35px;
 border-radius: 10px;
 /* border: 3px solid #b4e6fd; */
 color: gray;
 display: inline-block;
}
.span {
 width: 285px;
 height: 2px;
 margin: 5px 0px 0px 5px;
 background-color: #0ab6ff;
 border-radius: 2px;
 display: block;
}
